body {
    background: #f7f5f1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    /* padding-bottom: 70px; */
}
p,h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #020202;
    /* padding-bottom: 70px; */
}

.header  {
    background-image: url(img/img1.png);
    background-size: cover;
    overflow: hidden;
    height: 500px;
}
.body  {
    background-size: cover;
    overflow: hidden;
    height: 500px;
}

.overlay    {
    /* background: #311d5e; */
    background: rgba(49, 29, 94, 0.67);
    overflow: hidden;
    height: 500px;
}
.overlay2    {
    /* background: #311d5e; */
    background: rgba(255, 255, 255, 0.67);
    overflow: hidden;
    height: 500px;
    align: center;
}




.intro  {
    padding: 100px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    clear: both;
    margin: 10rem 0;
}
.container  {
    padding: 100px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: left;
    clear: both;
}

a {
    color: #ffffff;
    text-decoration: none;
    align-content: center;
    transition: .3s;
}
.logo {
    float: left;
    margin: 37px
}
.logo2 {
    float: left;
    margin: 65px
}

ul {
    float: right;
    margin: 37px;
    color: white;
    
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
    color: white;
}

h1,h2 {
    font-size: 30px;
}

table {
    background: white;
    border: 1px solid black;
    width: 100%;
}
.wit{
    color: white;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid orange;
}

th {
    border: 0px solid red;
}
.btn{
    border: 1px solid #00FFFF;
    color: turquoise;
    padding: 15px;
    text-transform: uppercase;
    transition: .3s;
}
a:hover{
    text-decoration: none;
    background: blueviolet;
}
.btn:hover{
    border: 1px solid chocolate;
    background: #E60F0F;
}