.btn {
  border-radius: 0;
}

.btn-success {
  background-color: #0c631b;
}
.intro {
  margin: 10rem 0;
}
.header{
  background-image: url(../img/header.jpg);
  background-size: cover;
}
.about {
  background: #fff;
  color: #000000;
  overflow: hidden;
}
.aintro {
  margin: 6rem 0;
}
.overlay{
  background: rgba(44, 44, 44, 0.50);
  color: #fff;
  overflow: hidden;
}
.overlaynav{
  background: rgba(30, 30, 30, 0.93);
  color: #fff;
  overflow: hidden;
}
nav{
  height: 60px;
}
.btn, .btn:hover {
  text-transform: uppercase;
  color: #00e0d0;
  border-color: #00e0d0;
}
.btn:hover {
  background-color: #00e0d0;
  color: #000;
}
/* slider */
#slider-home .carousel-indicators {
  position: relative;
  top: 8rem;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.panel-footer{
  background: black;
  color: white;
}

.map{
  overflow: hidden;
}
.mintro{
  margin: 2rem 0;
}
@media screen and(max-width){
  .map{
    width:100%;
  }
  
}
@media screen and(max-width){
  .z{
    width:100%;
    align: center;
  }
  
}
.colz{
  text-align:justify;
}
h1,h2{
  font-family: 'Trebuchet MS';
}
.galeri{
  background: #FFFFFF;
  color: #000000;
  overflow: hidden;
}
.img-thumbnail{
  height: 300px;
  width: 400px;
}
.z{
  height: 300px;
  width: 350px;
}
.about p{
  font-size: 12pt;
  font-family: 'Trebuchet MS','Times New Roman', Times, serif;
}